.container {
    max-width: 1024px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
}

.answer>div.block {
    display: inline-block;
    margin: 20px;
    background: #ff9900;
    box-sizing: content-box;
    padding: 20px;
    position: relative;
}

img {
    width: 100%;
    margin-bottom: 80px;
}

.answer div {
    border: 1px solid rgb(213, 213, 213);
    width: 70px;
    height: 70px;
    background-color: rgb(4, 197, 161);
}

.answer div:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.answer {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.question {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.question > div {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.notification {
    font-size: 30px;
    margin-bottom: 50px;
}

.user-answer {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

input {
    height: 30px;
    border-radius: 8px;
    padding-left: 10px;
    margin-right: 20px;
}

button {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: antiquewhite;
    cursor: pointer;
}

.clicked {
    background-color: #ff9900;
}

.user-answer > div {
    margin-top: 20px;
}